<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-toolbar color="primary-pale">
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
        </ion-buttons>
        <ion-title>Register</ion-title>
    </ion-toolbar>

</ion-header>


<ion-content padding>
    <ion-card>
        <ion-card-header color="primary">Your Picture</ion-card-header>
        <img src="{{ image }}" />
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button ion-button small (click)="getPicture()">Take Picture</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input type="text" formControlName="firstname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Last Name</ion-label>
            <ion-input type="text" formControlName="lastname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Tel. Number</ion-label>
            <ion-input type="tel" formControlName="telnum" pattern="[0-9]*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" formControlName="email" email></ion-input>
        </ion-item>
        <button ion-button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
</ion-content>