<!--
  Generated template for the CommentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar color="primary-pale">
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text color="primary" showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
              </button>
        </ion-buttons>
        <ion-title>Add Comment</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="comment" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label floating>Your Name</ion-label>
            <ion-input type="text" formControlName="author"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Your Rating</ion-label>
            <ion-range formControlName="rating" min="1" max="5" snaps="true" pin="true">
                <ion-icon range-left small name="sad"></ion-icon>
                <ion-icon range-right name="happy"></ion-icon>
            </ion-range>
        </ion-item>
        <ion-item>
            <ion-label floating>Your Comment</ion-label>
            <ion-textarea type="text" rows="12" formControlName="comment"></ion-textarea>
        </ion-item>
        <button ion-button type="submit" [disabled]="!comment.valid">Submit</button>

    </form>
</ion-content>